/*
 * This file contains newly added styles. The idea is to keep some semblance of order as we add features .
 */

.group:after {
    content: "";
    display: table;
    clear: both;
}

.grad-container {
    overflow: hidden ;
    position: relative ;
    background: rgba(46,46,92,1);
    background: -moz-linear-gradient(top, rgba(46,46,92,1) 0%, rgba(7,24,44,1) 35%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(46,46,92,1)), color-stop(35%, rgba(7,24,44,1)));
    background: -webkit-linear-gradient(top, rgba(46,46,92,1) 0%, rgba(7,24,44,1) 35%);
    background: -o-linear-gradient(top, rgba(46,46,92,1) 0%, rgba(7,24,44,1) 35%);
    background: -ms-linear-gradient(top, rgba(46,46,92,1) 0%, rgba(7,24,44,1) 35%);
    background: linear-gradient(to bottom, rgba(46,46,92,1) 0%, rgba(7,24,44,1) 35%);
}

nav.topnav {
    z-index: 20 ;
}

.nobr.gold {
    color: #f0de62 ;
}

.gold-border {
    position: relative ;
    width: 100% ;
    height: 8px ;
    margin-top: -8px ;
    background-image: url(../img/gold-border.png) ;
    background-repeat: repeat ;
}

.snowflakes-top {
    position: absolute ;
    top: -10px ;
    left: 0 ;
    height: 80% ;
    width: 100% ;
    background-image: url('../img/snowflakes-bg-sm.png') ;
    background-repeat: repeat-x ;
}

.redbar {
    background-image: url(../img/banner-texture.png);
    background-repeat: repeat ;
}

h2.socks {
    padding-top: 22px ;
    padding-bottom: 10px ;
    font-family: "brandon-grotesque" ;
    font-weight: 700 ;
    color: #89e1d5 ;
    position: relative ;
}

h2.socks span {

}

.bg-trees {
    background-image: url('../img/christmas-trees-large.png') ;
    background-repeat: no-repeat ;
    background-position: -33px 150%  ;
    z-index: 1 ;
}

.bg-trees .light-effects {
    position: absolute ;
    width: 100% ;
    height: 70% ;
    bottom: 0 ;
}

.bg-trees .light-effects img {
    position: absolute ;
    width: 100% ;
    bottom: -80px ;
    left: 80px ;
}

header.section-header h2 {
    text-transform: uppercase ;
    color: #f0d641 ;
    letter-spacing: 4px ;
    font-family: 'Futura Std';
    margin-bottom: 20px ;
}

header.section-header.about {
    margin-bottom: 60px ;

}

#media-and-about-container {
    padding-top: 20px ;
}


.hob-shouts {
    position: relative ;
    margin-left: auto ;
    margin-right: auto ;
    width: 94% ;
    max-width: 500px ;
    margin-bottom: 40px ;
}

.hob-shouts .shout h3 {
    text-transform: uppercase ;
    text-align: center ;
    font-family : "brandon-grotesque" ;
    font-weight: 700 ;
    font-size: 28px ;
}

.hob-shouts .shout .attribution {
    text-align: center ;
    font-family : "brandon-grotesque" ;
    font-weight: 300 ;
    font-style: italic ;
    color: #98fbe9 ;
    font-size:  16px ;
}

/*
 *Slideshow
 */

.owl-carousel {
    width: 90% ;
    position: relative ;
    margin-left: auto ;
    margin-right: auto ;
    width: 85% ;
    margin-top: 2.4rem ;
    margin-bottom: 2.4rem ;
}

.owl-carousel .owl-item {
    border: 3px solid #cbac40 ;
}

/* slideshow navigation */

.owl-carousel .owl-nav {
    border: 1px solid #000 ;

}
.owl-carousel .owl-nav {
    font-size: 90px ;
    top: 15% ;
}

.owl-carousel .owl-nav button {
    position: absolute ;
    top: 15% ;
}

.owl-carousel .owl-nav button span {
    color: #cbac40;
}

.owl-carousel .owl-nav button.owl-prev {
    left: -10% ;
}

.owl-carousel .owl-nav button.owl-next {
    right: -10% ;
}


/* responsive video  rules*/

.modal-slide-container {
    width: 100%  ;
}

.slide.cycle-slide {
    width: 100% ;
}

.video-wrap {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    width: 100% ;
}

.video-wrap  iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


@media (min-width: 440px ) {
    .owl-carousel .owl-nav button {
        position: absolute ;
        top: 20% ;
    }
}



.shouts-and-photo-container {
    position: relative ;
}

.christmas-trees {
    display: none ;
}

@media (min-width: 768px ) {
    .gold-border {
        height: 13px ;
    }
}


@media (min-width: 768px ) {
    .snowflakes-top {
	background-image: url('../img/snowflakes-bg-large.png') ;
    }
}

@media (min-width: 900px ) {
    .christmas-trees {
        display: initial ;
        position: absolute ;
        bottom: -110px ;
        left: -140px ;
    }

    .bg-trees {
        background-image: initial ;
        z-index: 10 ;
    }

    .shouts-and-photo-container {
        margin-left: auto ;
        margin-right: auto ;
        width: 94% ;
        max-width: 1000px ;
        z-index: 100 ;
    }

    .shouts-and-photo-container  .cast-photo  {
        width: 60% ;
        position: absolute ;
        bottom: 0 ;
        left: -10% ;
        z-index: 100 ;
    }

    .shouts-and-photo-container .hob-shouts {
        float: right ;
        width: 48% ;
        margin-bottom: 0 ;
    }

}


/*
 *  Styles for the animated modal
 */

#animatedModal {
    display: flex ;
    flex-direction: column ;
    align-items: flex-start;
}

.cycle-sentinel iframe {
    /* opacity: 0 ;  */
}

.modal-slide-container .modal-video-container {
    position: relative ;
}

.modal-slide-container .modal-video-container a.play  {
    position: absolute ;
    top: 40% ;
    right :43% ;
    z-index: 10 ;
}

.modal-slide-container .modal-video-container a.play img  {
    display: block ;
    max-width: 100% ;
}

.modal-slide-container  iframe {


}

#animatedModal .close-animatedModal {
    position: absolute ;
    right: 3% ;
    top: 3% ;
    height: 25px ;
    width: 25px ;
}

#animatedModal .close-animatedModal a {
    border: 10px ;
    display: block ;
    height: 100% ;
    width: 100% ;
    background-image: url('../img/slides/navslide-arrows.png') ;
    background-position: 0 0 ;
}

.modal-content {
    position: relative ;
    margin-top: 50px ;
    margin-left: auto ;
    margin-right: auto ;
    width: 96% ;
    max-width: 960px ;
    margin-bottom: 20px ;
}

#animatedModal .slideNav {
    margin-top: auto ;
    background-color: #000 ;
    align-self: flex-end ;
    width: 100% ;
    padding-top: 2% ;
    padding-bottom: 2% ;
}

#animatedModal .slideNav .nav-content {
    position: relative ;
    margin-left: auto ;
    margin-right: auto ;
    width: 94% ;
    max-width: 500px ;
}

#animatedModal .slideNav .nav-content .nav-item {
    position: absolute ;
    bottom: -12px ;
    height: 25px ;
    width: 20px ;
    background-image: url('../img/slides/navslide-arrows.png') ;
}

#animatedModal .slideNav .nav-content .nav-item.prev {
    left: 0 ;
    background-position: 76px 0 ;
}

#animatedModal .slideNav .nav-content .nav-item.next {
    right: 0 ;
    background-position: 145px 0 ;
}

