/* Fonts */
@font-face {
    font-family: 'Futura';
    src: url('../font/Futura-MediumItalic.eot');
    src: url('../font/Futura-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../font/Futura-MediumItalic.woff2') format('woff2'),
    url('../font/Futura-MediumItalic.woff') format('woff'),
    url('../font/Futura-MediumItalic.ttf') format('truetype'),
    url('../font/Futura-MediumItalic.svg#Futura-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura';
    src: url('../font/Futura-CondensedMedium.eot');
    src: url('../font/Futura-CondensedMedium.eot?#iefix') format('embedded-opentype'),
    url('../font/Futura-CondensedMedium.woff2') format('woff2'),
    url('../font/Futura-CondensedMedium.woff') format('woff'),
    url('../font/Futura-CondensedMedium.ttf') format('truetype'),
    url('../font/Futura-CondensedMedium.svg#Futura-CondensedMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura LT';
    src: url('../font/FuturaLT-BoldOblique.eot');
    src: url('../font/FuturaLT-BoldOblique.eot?#iefix') format('embedded-opentype'),
    url('../font/FuturaLT-BoldOblique.woff2') format('woff2'),
    url('../font/FuturaLT-BoldOblique.woff') format('woff'),
    url('../font/FuturaLT-BoldOblique.ttf') format('truetype'),
    url('../font/FuturaLT-BoldOblique.svg#FuturaLT-BoldOblique') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura LT';
    src: url('../font/FuturaLT-CondensedBold.eot');
    src: url('../font/FuturaLT-CondensedBold.eot?#iefix') format('embedded-opentype'),
    url('../font/FuturaLT-CondensedBold.woff2') format('woff2'),
    url('../font/FuturaLT-CondensedBold.woff') format('woff'),
    url('../font/FuturaLT-CondensedBold.ttf') format('truetype'),
    url('../font/FuturaLT-CondensedBold.svg#FuturaLT-CondensedBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('../font/Futura-CondensedExtraBold.eot');
    src: url('../font/Futura-CondensedExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../font/Futura-CondensedExtraBold.woff2') format('woff2'),
    url('../font/Futura-CondensedExtraBold.woff') format('woff'),
    url('../font/Futura-CondensedExtraBold.ttf') format('truetype'),
    url('../font/Futura-CondensedExtraBold.svg#Futura-CondensedExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Std';
    src: url('../font/FuturaStd-CondensedLight.eot');
    src: url('../font/FuturaStd-CondensedLight.eot?#iefix') format('embedded-opentype'),
    url('../font/FuturaStd-CondensedLight.woff2') format('woff2'),
    url('../font/FuturaStd-CondensedLight.woff') format('woff'),
    url('../font/FuturaStd-CondensedLight.ttf') format('truetype'),
    url('../font/FuturaStd-CondensedLight.svg#FuturaStd-CondensedLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

/* icomoon fonts */
font-face {
    font-family: 'icomoon';
    src:  url('font/icomoon.eot?dntrpm');
    src:  url('font/icomoon.eot?dntrpm#iefix') format('embedded-opentype'),
    url('font/icomoon.ttf?dntrpm') format('truetype'),
    url('font/icomoon.woff?dntrpm') format('woff'),
    url('font/icomoon.svg?dntrpm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.demo-icon {
    color: #000 ;
}

.icon-volume-high:before {
    content: "\ea26";
}
.icon-volume-mute:before {
    content: "\ea29";
}


.video-container {
    position: relative ;
}

.video-container .video-controls {
    background-color: #000 ;
    position: absolute ;
    top: 10px ;
    left: 10px ;
    z-index: 5 ;
}

.video-container .video-controls p i {
    color: #fff ;
    font-size: 22px ;
}

.video-container .video-controls p {
    position: absolute ;
    top: 0 ;
    left: 0 ;

}

.video-container .video-controls .hidden {
    display: none ;
}

/* General */
html{width:100%; overflow-x: hidden; background-color:#000;}
body {
    color:#fff; font-family:'Futura Std', Arial, Helvetica, sans-serif; width:100%; overflow-x: hidden; background-color:#2e2e5c;}

section{text-align:center;}
p{font-size:21px; line-height:34px; text-align:left;}
a{color:#fff; text-decoration:underline; -webkit-transition:all 0.5s ease; -moz-transition:all 0.5s ease; -o-transition:all 0.5s ease; transition: all 0.5s ease;}
a:visited, a:active, a:focus{color:#fff;}
a:hover{color:#93fdf1;}
h1,h2,h3{font-family:'Futura LT',sans-serif; font-weight:bold;}
h3{padding:0; margin:0;}
small{font-size:70%;}
.nobr{white-space:nowrap;}
form{display:inline-block;}
input{display:inline-block !important;}

/* Nav */
nav{
    position:fixed;
    z-index: 400 ;
    font-family:'Futura';
    font-weight:500;
    letter-spacing:2px;
    height:64px;
    line-height:64px;
    background-color:#233c60;
    width:100%;
    color:#fff;
    font-size:49px;
    text-align:center;
    text-transform:uppercase;
    display:table-cell;
    vertical-align:middle;
}

nav .buynow{
    font-family:'Futura', sans-serif;
    font-weight:500;
    font-style:normal;
    letter-spacing:1px;
    display:inline-block;
    font-size:36px;
    color:#233c60;
    text-decoration:none;
    background-color: #e7d35a ;
    border:4px solid #e7d35a;
    line-height:42px;
    padding:0 5px;
    vertical-align:top;
    margin:7px 0 0 8px;}

nav .buynow:visited, nav .buynow:active, nav .buynow:focus{
    color:#233c60;
}

/* Sections */
.logo{width:100%; padding-top:64px; -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;}
}
 .logo img{width:100%; max-width:1024px;}
 .logo .logo-mobile{margin:0!important; display:none;}
 .logo .logo-mobile, .logo .logo-desktop{width:100%;}
 .logo .logo-desktop{display:block;}

 .blurb {
     margin-top: -8px ;
 }

 .blurb{
     background-color:#041121 ;
     padding:35px 0;
     position: relative;
     z-index: 1000;
 }
 .blurb h2{font-size:37px; color:#fff; text-transform:uppercase; letter-spacing:1px; line-height:1.1;}
 .blurb h2 span{color:#93fdf1;}
 .blurb p{max-width:906px; margin:0 auto; text-align:justify; font-size:25px; letter-spacing:1px;}

 .redbar{
     background-color:#f4df68  ;
     margin:0;
     padding:25px 0;
     color:#041120;
 }
 .redbar h3{font-size:32px; font-weight:bold; letter-spacing:1px; line-height: 1.2;}
 .redbar h3 .tm-phone{font-family:'Futura Std',sans-serif; font-size:27px; padding:10px 0 5px; display: block;}
 .redbar .address{font-size:20px; padding-top:5px; font-family:'Futura Std',sans-serif; font-size:27px; font-weight:bold;}
 .redbar a{text-decoration:none; color:#041120;}
 .redbar a:hover{color:#041120;}

 /* Footer */
 footer{background-color:#041120; text-align:center; padding:35px 0;}
 footer h2{font-size:33.31px; color:#ff0000; padding-top:32px; line-height:1;}
 footer .info{font-size:25px; padding-bottom:18px;}
 footer .info a{text-decoration:none;}
 footer .social{color:#93fdf1; text-transform:uppercase;}
 footer .social a{color:#eedd45;}
 footer .social a:hover{color:#fff;}
 
 footer .social span{padding-right:12px; letter-spacing:1px; font-family:'Futura',sans-serif; font-size:45.28px;
		     color:#eedd45;
		     text-transform:uppercase; line-height:43px;}

 footer .social .fa{font-size:39px; margin:0 9px;}
 footer div.email{font-size:27px; line-height:27px; padding:21px 0 15px;}
 footer div.email span{padding-right:7px; line-height:36px; vertical-align: top; display: inline-block;}
 footer .copyright{font-size:18px; letter-spacing:0.5px;}
 footer .breaker{display:none;}
 input.email{width:272px; border:none !important; line-height:39px; box-shadow:none !important; font-size:18px; vertical-align: top;}
 #mc-embedded-subscribe{
     margin: 2px 0 0 15px;
     background-color: #233c60;
     height: 35px;
     border: none;
     padding: 0 12px;
     vertical-align: top;
     font-size: 24px;
     line-height: 24px;
     letter-spacing: 2px;
     font-family:'Futura',sans-serif;
     font-weight:500;
     text-transform: uppercase;
 }

 /* Privacy */
 .privacy{background-color:#041120; color:#fff; padding-bottom:35px;}
 .privacy .logo{padding:0; margin:0;}
 .privacy h1{font-size:64px; color:#93fdf1; text-transform:uppercase;}
 .privacy h3{padding-top:15px;}
 .privacy p{text-align:center; font-size:20.83px; color:#ccc;}
 .privacy-cont{max-width:1040px; margin:0 auto; padding-top:25px;}

 @media screen and (max-width: 1100px) {
     footer .address{display:block;}
     footer .bar{display:none;}
 }

 @media screen and (max-width: 900px) {
     .logo img{margin-left:0;}
 }
 @media screen and (max-width: 768px) {
     .logo .logo-desktop{display:none;}
     .logo .logo-mobile{display:block;}
     .logo .logo-overlay{padding-top:0;}
 }

 @media screen and (max-width: 700px) {
     h2,.blurb h2{font-size:36px;}
     p{font-size:19px; line-height:30px;}
     nav .buynow{font-size:26px; line-height:34px; margin: 10px 0 0 8px;}
     footer .breaker{display:inline;}
     footer h2{font-size:29.31px;}
     footer .info{font-size:21px;}
     footer div.email{font-size:27px;}
     footer div.email span{display:block; padding-bottom:7px;}
     input.email{font-size:16px;}
     .privacy h1{font-size:37.67px;}
     h3, .privacy p{font-size:18px;}
 }

 @media screen and (max-width: 640px) {
     .blurb h2{font-size: 5.6vw;}
 }

 @media screen and (max-width: 500px) {
     .toptext{letter-spacing:1px;}
     h2,.blurb h2{font-size:34px;}
     p{font-size:16px; line-height:26px;}
     footer h2{font-size:25.31px;}
     footer .info{font-size:17px;}
     footer .social span{font-size:8vw;}
     footer .social .fa{font-size:6.2vw;}
     footer div.email{font-size:5.6vw;}
     footer .copyright{font-size:14px;}
     .privacy h1{font-size:33.67px;}
     h3, .privacy p{font-size:16px;}
     #mc-embedded-subscribe{font-size:14px;}
     input.email{width:220px;}
     .redbar h3{font-size:5.9vw;}
     .redbar h3 .tm-phone, .redbar .address{font-size:5.6vw;}
     .blurb h2{font-size: 6.4vw;}
     .blurb p{font-size:19px;}
 }

 @media screen and (max-width: 400px) {
     .toptext{letter-spacing:0.4px;}
     h2{font-size:15px;}
     p{font-size:14px; line-height:24px;}
     input.email{width:180px;}
     footer .social span{font-size:7.5vw; padding-right:6px;}
     footer .social .fa{font-size:6.2vw; margin: 0 2%;}
     footer h2{font-size:22.31px;}
     footer .copyright{font-size:13px;}
     nav .buynow {font-size:24px;}
 }
 @media screen and (max-width: 359px) {
     nav{height:90px;}
     .logo{padding-top:90px;}
     .toptext{line-height:1; font-size:20px!important; margin-top:10px;}
     nav .buynow{margin-top:10px;}
 }

 /*  overrides added by Sunil*/

 .hob-embed-container {
     position: relative;
     margin-top: 40px ;
     padding-bottom: 56.25%;
     height: 0;
     overflow: hidden;
     max-width: 100%;
 }

 .hob-embed-container iframe, .hob-embed-container object, .hob-embed-container embed {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
 }

 @media  (min-width: 500px) {
     .video-container .video-controls p i {
         font-size: 32px ;
     }
 }

 @media  (min-width: 768px) {
     .video-container .video-controls p i {
         font-size: 42px ;
     }
 }

 
 @media screen and (min-width: 1024px) {
     .hob-embed-container {
         position: relative;
         margin-top: 40px ;
     }
 }


